/* navigation bar*/
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: grey;
  color: black;
}

.leftcolumn {   
  float: left;
  width: 25%;
}
.rightcolumn {
  float: left;
  width: 75%;
  padding-left: 20px;
}

.column {
  float: left;
  padding: 10px;
}


.column.side {
  width: 25%;
}


.column.middle {
  width: 50%;
}

/* centers all img*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*centers body*/
body {
    text-align: center;
}
form {
    display: inline-block;
}
/*rounded corners for input*/
input[type="text"] {
    width: 200px;
    height: 20px;
    padding-right: 50px;
	border-radius: 10px;
}

input[type="submit"] {
    margin-left: -50px;
    height: 20px;
    width: 50px;
	border-radius: 10px;
}

h1 a{
  color: red;
}