.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: grey;
  color: black;
}

.leftcolumn {   
  float: left;
  width: 25%;
}
.rightcolumn {
  float: left;
  width: 75%;
  padding-left: 20px;
}

.column {
  float: left;
  padding: 10px;
}


.column.side {
  width: 25%;
}


.column.middle {
  width: 50%;
}

div.padding1 {
	padding-left: 10%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}

