body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.tier {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

.tier.S {
    background-color: #FF5C5C; 
}

.tier.A {
    background-color: #ffae00; 
}

.tier.B {
    background-color: #FBEC5D; 
}

.tier.C {
    background-color: #A6FF33;
}

.tier.D {
    background-color: #33FF4D; 
}

.tier h2 {
    margin: 0;
    font-size: 1.5em;
}

.tier ul {
    list-style: none;
    padding: 0;
}

.tier ul li {
    margin: 5px 0;
}
