body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.topnav {
  background-color: blueviolet;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.topnav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 20px;
}

.topnav a:first-child {
  margin-right: auto;
}

.topnav a:hover {
  color: #87CEEB;
}

.centered-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.centered-container label {
  display: block;
  margin-bottom: 8px;
}

.centered-container input[type="text"],
.centered-container input[type="number"],
.centered-container button {
  padding: 10px;
  margin-bottom: 12px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  border: 1px solid black; /* Border color set to black */
  border-radius: 20px;
}

/* Styling for title labels in blueviolet box */
.title-label {
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
}

/* Styling for show timediff button and add minutes button */
.centered-container button {
  background-color: #0077b6;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.centered-container button:hover {
  background-color: #023e8a;
}

/* Styling for p element inside centered-container */
.centered-container p {
  font-size: 18px;
  margin-top: 20px;
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
